{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12"><h1>{% include 'category/backlink.html.twig' %} Catégorie : "{{ category.label }}"</h1></div>
    </div>
<div class="row">
    <div class="col-md-8">
        <div class="row">
            {% if category.picture != "" %}
            <div class="col-md-6">
                    <img src="{{ asset(category.getPictureWebPath()) }}" class="img-fluid border border-dark">
            </div>
            {% endif %}
            <div class="col-md-{% if category.picture != "" %}6{% else %}12{% endif %}">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Description</h2>
                        <div>{{ category.description|nl2br }}</div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Liste des produits pour cette catégorie </h2>
                {% include 'product/list.html.twig' with {'products': products } %}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <p><a href="{{ path('category_edit', {'id': category.id}) }}" class="btn btn-warning">Modifier la catégorie</a></p>
        <p><a href="{{ path('product_new') }}?category_id={{ category.id }}" class="btn btn-success">Ajouter un nouveau produit</a></p>
        <h2>Documentations liés</h2>
        <p>{{ documentForm.addButton|raw }}</p>
        {{ documentForm.modalDocumentForm|raw }}
        {% include('document/ownerDocumentsList.html.twig')  %}
    </div>
</div>
{% endblock %}
